{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row">
		{% for link in links %}
			<div class="col-md-4 mx-2">
                <div class="card">
                    <h2>
                        <a class="linkTitle-index" href="{{ path('link', { 'id': link.id }) }}">
                            {{ link.title }}
                        </a>
                    </h2>

                    <div class="bar">
                        {% for tag in link.tags %}
                            <a class="linkTag" href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
                                {{ tag.title }}
                            </a>
                        {% endfor %}
                    </div>

                    <div class="content">
                        <p>{{ link.desc }}</p>
                        <div class="btn-encadrer">
                            <a class="btn-1" href="{{ link.url }}" target="_blank">Ouvrir dans un nouvel onglet »</a>
                        </div>
                        <em>
                            <img id="person-emoji" src="https://www.freeiconspng.com/thumbs/person-icon/clipart--person-icon--cliparts-15.png" alt="Emoji Personne">
                            (by {{ link.user.username }})</em>
                    </div>
                </div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
